#loader-container {
    background: #EDF0F1 url('../images/box.gif') no-repeat center center;
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99999;
}
