.m-auto {
	margin: auto !important;
}

.m-r-xs {
	margin-right: 5px !important;
}

.m-t-xs {
	margin-top: 5px !important;
}

.m-l-xs {
	margin-left: 5px !important;
}

.m-b-xs {
	margin-bottom: 5px !important;
}

.m-r-md {
	margin-right: 15px !important;
}

.m-t-md {
	margin-top: 15px !important;
}

.m-t-lg {
	margin-top: 30px !important;
}

.m-t-xl {
	margin-top: 50px !important;
}

.m-l-md {
	margin-left: 15px !important;
}

.m-b-md {
	margin-bottom: 15px !important;
}

.p-xs {
	padding: 5px !important;
}

.p-b-xs {
	padding-bottom: 5px !important;
}

.p-b-sm {
	padding-bottom: 10px !important;
}

.text-white {
	color: #fff!important;
}

.panel-filters .btn, .panel-filters md-checkbox, .panel-filers span {
	vertical-align: baseline;
	margin-bottom: 0;
}
.breadcrumb {
	margin-bottom: 0px;
}

.breadcrumb > .active {
    color: #0198b6!important;
}

.breadcrumb > li + li:before {
    color: #025465;
}

#mastori-loader-container {
    background: transparent url('../images/mastori-loader.png') no-repeat center center;
    min-height: 200px;
    overflow: hidden;
    z-index: 99999;
}

.angular-google-map-container { height: 400px; }

#map {
	width	: 100%;
	height	: 250px;
}

// mastori
.box-info-mastori {
	max-width: 130px;
	vertical-align: middle;
	display: inline-block;
}

.page-profile .profile-social {
    vertical-align: middle;
}

// mastoria
.mastoria-page header {
	position: relative;
  margin: 0 -30px 15px;
  padding: 50px 30px 90px;
	background: url("../images/background/1.jpg") no-repeat center center fixed;
	background-size: cover;
}

// forms
md-datepicker.md-default-theme, md-datepicker {
    background: transparent;
}

.has-datepicker {
  margin-bottom: 34px;
  margin-top: -15px;
}

.has-datepicker label {
	font-size: 11px;
	color: rgba(0,0,0,0.54);
}

.required {
	color: rgb(213,0,0)!important;
}

// login modal
.signin-modal .additional-info .divider-h {
    border-right: 1px solid #fafafa;
    margin: 0 15px;
}

/*phones*/
@media (max-width: 767px) {
  .w-auto-xs {
    width: auto;
  }
  .shift {
    display: none !important;
  }
  .shift.in {
    display: block !important;
  }
  .row-2 [class*="col"] {
    float: left;
    width: 50%;
  }
  .row-2 .col-0 {
    clear: none;
  }
  .row-2 li:nth-child(odd) {
    margin-left: 0;
    clear: left;
  }
  .text-center-xs {
    text-align: center;
  }
  .text-left-xs {
    text-align: left;
  }
  .text-right-xs {
    text-align: right;
  }
  .no-border-xs {
    border-width: 0;
  }
  .pull-none-xs {
    float: none !important;
  }
  .pull-right-xs {
    float: right !important;
  }
  .pull-left-xs {
    float: left !important;
  }
  .dropdown-menu.pull-none-xs {
    left: 0;
  }
  .hidden-xs.show {
    display: inherit !important;
  }
  .wrapper-lg,
  .wrapper-md {
    padding: 15px;
  }
  .padder-lg,
  .padder-md {
    padding-right: 15px;
    padding-left: 15px;
  }
  .no-m-xs {
    margin: 0 !important;
  }
}

/*tablets*/
@media (min-width: 768px) {
	.text-center-sm{text-align: center;}
}


/*google address seacrh in a modal*/
.pac-container {
    z-index: 1051 !important;
}

//temp
.breadcrumb.bg-primary{background-color: #009688;}
