.m-auto {
	margin: auto !important;
}

.m-r-xs {
	margin-right: 5px !important;
}

.m-t-xs {
	margin-top: 5px !important;
}

.m-l-xs {
	margin-left: 5px !important;
}

.m-b-xs {
	margin-bottom: 5px !important;
}

.m-r-md {
	margin-right: 15px !important;
}

.m-t-md {
	margin-top: 15px !important;
}

.m-l-md {
	margin-left: 15px !important;
}

.m-b-md {
	margin-bottom: 15px !important;
}

.p-xs {
	padding: 5px !important;
}

.p-b-xs {
	padding-bottom: 5px !important;
}

.p-b-sm {
	padding-bottom: 10px !important;
}

.text-white {
	color: #fff!important;
}

.panel-filters .btn, .panel-filters md-checkbox, .panel-filers span {
	vertical-align: baseline;
	margin-bottom: 0;
}
.breadcrumb {
	margin-bottom: 0px;
}

.breadcrumb > .active {
    color: #0198b6!important;
}

.breadcrumb > li + li:before {
    color: #025465;
}

#mastori-loader-container {
    background: transparent url('../images/mastori-loader.png') no-repeat center center;
    min-height: 200px;
    overflow: hidden;
    z-index: 99999;
}

.angular-google-map-container { height: 400px; }

#map {
	width	: 100%;
	height	: 250px;
}

.box-info-mastori {
	max-width: 130px;
	vertical-align: middle;
	display: inline-block;
}

.page-profile .profile-social {
    vertical-align: middle;
}

.mastoria-page header {
	position: relative;
  margin: 0 -30px 15px;
  padding: 50px 30px 90px;
	background: url("../images/background/1.jpg") no-repeat center center fixed;
	background-size: cover;
}