.m-auto {
	margin: auto !important;
}

.m-r-xs {
	margin-right: 5px !important;
}

.m-t-xs {
	margin-top: 5px !important;
}

.m-t-n {
	margin-top: 0px !important;
}

.m-l-xs {
	margin-left: 5px !important;
}

.m-l-lg {
	margin-left: 30px !important;
}

.m-l-xl {
	margin-left: 60px !important;
}

.m-b-xs {
	margin-bottom: 5px !important;
}

.m-r-md {
	margin-right: 15px !important;
}

.m-t-md {
	margin-top: 15px !important;
}

.m-t-lg {
	margin-top: 30px !important;
}

.m-t-xl {
	margin-top: 50px !important;
}

.m-l-md {
	margin-left: 15px !important;
}

.m-b-md {
	margin-bottom: 15px !important;
}

.p-xs {
	padding: 5px !important;
}

.p-md {
	padding: 15px !important;
}
.p-lg {
	padding: 30px !important;
}

.p-b-xs {
	padding-bottom: 5px !important;
}

.p-b-sm {
	padding-bottom: 10px !important;
}

.p-n{
	padding:0;
}
.text-white {
	color: #fff!important;
}

.bg-orange{
	background-color: #F57C00 !important;
}
.bg-yellow{
	background-color: #f0ad4e !important;
}

body {
    background: url("../../images/landing/main_bg.jpg") repeat-y 0 0 fixed;
    background-size: cover;
}

.body-auth .breadcrumb {
  display:none;
}

// fix styles in landing
#ip-container .header {
  position: fixed;
}

// nav
.header-container.bg-dark {
  border-bottom: 1px solid #000;
}

.app > .header-container.header-fixed + .main-container {
    padding-top: 97px;
}

.header-container > .top-header .logo > a {
  display: block;
  font-size:inherit;
}

.header-container > .top-header .logo img {
  height: 60px;
}

@media (max-width: 767px) {
  .on-canvas #nav-container {
      top: 97px;
  }
  .header-container > .top-header .logo {
    display: inline-block;
    width: 150px;
    top: 0px;
  }

  .card .card-content {
    padding: 5px;
    border-radius: 0 0 2px 2px;
  }
}

@media (min-width: 768px) {
  .app > .main-container > .nav-container.nav-horizontal.nav-fixed + .content-container {
      margin: 0;
  }
}

.panel-filters .btn, .panel-filters md-checkbox, .panel-filers span {
	vertical-align: baseline;
	margin-bottom: 0;
}
.breadcrumb_wrapper {
  // background-color: rgba(255, 255, 255, 0.9);
	background-color: #fff;
}
.breadcrumb {
	background-color:transparent;
}

.breadcrumb > .active {
    color: #0198b6!important;
}

.breadcrumb > li + li:before {
    color: #025465;
}

#mastori-loader-container {
    background: transparent url('../images/mastori-loader.png') no-repeat center center;
    min-height: 200px;
    overflow: hidden;
    z-index: 99999;
}

.angular-google-map-container { height: 400px; }

#map {
	width	: 100%;
	height	: 250px;
}

// mastori
.box-info-mastori {
	max-width: 160px;
	vertical-align: middle;
	display: inline-block;
}

// mastoria
.mastoria-page {
  header {
    position: relative;
    // margin: 0 -30px 15px;
    padding: 50px 30px 110px;
    background: url(../images/background/2.png) no-repeat center center #1898b8;
    background-size: contain;
  }

  .filters-btn {
    position: fixed;
    z-index: 9999999;
    right: 70px;
    top: 30px;
  }
}

// forms
md-datepicker.md-default-theme, md-datepicker {
    background: transparent;
}

// addresses in signup form
.signup-addresses .card .card-title {
  line-height: inherit;
  font-size: inherit;
}

.signup-addresses .card .card-action, .signup-addresses .card .card-content{
  padding: 5px;
}

.signup-addresses .card .card-action > a {
    margin-right: 5px;
    font-size: 12px;
}



.required {
	color: rgb(213,0,0)!important;
}

// login modal
.signin-modal .additional-info .divider-h {
    border-right: 1px solid #009688;
    margin: 0 15px;
}

/*phones*/
@media (max-width: 767px) {
  .w-auto-xs {
    width: auto;
  }
  .shift {
    display: none !important;
  }
  .shift.in {
    display: block !important;
  }
  .row-2 [class*="col"] {
    float: left;
    width: 50%;
  }
  .row-2 .col-0 {
    clear: none;
  }
  .row-2 li:nth-child(odd) {
    margin-left: 0;
    clear: left;
  }
  .text-center-xs {
    text-align: center;
  }
  .text-left-xs {
    text-align: left;
  }
  .text-right-xs {
    text-align: right;
  }
  .no-border-xs {
    border-width: 0;
  }
  .pull-none-xs {
    float: none !important;
  }
  .pull-right-xs {
    float: right !important;
  }
  .pull-left-xs {
    float: left !important;
  }
  .dropdown-menu.pull-none-xs {
    left: 0;
  }
  .hidden-xs.show {
    display: inherit !important;
  }
  .wrapper-lg,
  .wrapper-md {
    padding: 15px;
  }
  .padder-lg,
  .padder-md {
    padding-right: 15px;
    padding-left: 15px;
  }
  .no-m-xs {
    margin: 0 !important;
  }
}

/*tablets*/
@media (min-width: 768px) {
	.text-center-sm{text-align: center;}
}


/*google address seacrh in a modal*/
.pac-container {
    z-index: 1051 !important;
}

//temp
.breadcrumb.bg-primary{background-color: #0198B6;}

.slick-prev:before, .slick-next:before {
	color:#D24918 !important;
	font-size:40px !important;
}


.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #f00;
}


.panel.panel-trans{border:0; box-shadow: none;}

.col-md-auto, .col-sm-auto, .col-xs-auto, .col-lg-auto{
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	width:auto;
	float:left;
}


.panel-arrow .panel-heading{background: #fff;padding-top:30px;color:#1998B7;position: relative;text-transform: none;}
.panel-arrow {border:0;}
.panel-arrow .panel-title{display: inline;}
.panel-arrow .panel-title .arrow-down{position: absolute; left:5%; top:100%; border-top-color:#fff;}
.panel-arrow .panel-body{background: #1998B6; color:#fff;}

/*Profile page*/
.page-profile {
  margin: 0;

  header {
    position: relative;
    // margin: 0 -30px 15px;
    padding: 50px 30px 110px;
    background: url(../images/background/2.png) no-repeat center center #1898b8;
    background-size: contain;
  }

	//tabs
	.ui-tab .nav-tabs > li a{background:#E2E6E9;color:#253338; margin:0;}
	.ui-tab .nav-tabs > li.active > a{color:#31A2B9; background: #fff;}
	.ui-tab .nav-tabs > li:not(.disabled) > a:hover{color:#31A2B9; background: #fff;}
	.ui-tab .nav-tabs{background:#E2E6E9;}
	// md-slider.md-default-theme.md-primary .md-focus-ring, md-slider.md-primary .md-focus-ring {
	// 	display: none;
	// }

  .profile-social {
    vertical-align: middle;
  }
}

//appointmet div sticky right
.appontment_container {
	height:auto;
	margin-top:-80px;
	.fcontainer{
		padding:15px 10px;
    border: 3px solid #f0ad4e;
	}
	#appointment_form {
		display: inline-block;
		width: 100%;

		md-input-container, .has-datepicker {
			margin-bottom: 50px;
		}
		// #address-input {
		//   margin-left: 0%;
		// }
		.has-datepicker {
			margin-bottom: 50px;
			margin-top: -35px;
		}
		.has-datepicker label {
			font-size: 11px;
			color: rgba(0,0,0,0.54);
		}
	}
}
