<div class="signin-modal">
    <div class="modal-header">
        <section class="logo text-center">
            <a href="#/"><img alt="logo" src="images/logo.png" width="80"></a>
        </section>
    </div>
    <div class="modal-body">
        <login></login>
    </div>
    <div class="modal-footer additional-info">
        <a ui-sref="signup" ng-click="$dismiss();">Register</a>
        <span class="divider-h"></span>
        <a ui-sref="forgotpass" ng-click="$dismiss();">Forgot your password?</a>
    </div>
</div>