<toaster-container toaster-options="{'time-out': 5000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>

<header data-ng-include=" 'src/layout/header.html' "
         id="header"
         class="header-container "
         data-ng-class="{ 'header-fixed': main.fixedHeader,
                          'bg-white': ['11','12','13','14','15','16','21'].indexOf(main.skin) >= 0,
                          'bg-dark': main.skin === '31',
                          'bg-primary': ['22','32'].indexOf(main.skin) >= 0,
                          'bg-success': ['23','33'].indexOf(main.skin) >= 0,
                          'bg-info': ['24','34'].indexOf(main.skin) >= 0,
                          'bg-warning': ['25','35'].indexOf(main.skin) >= 0,
                          'bg-danger': ['26','36'].indexOf(main.skin) >= 0
         }"></header>

<div class="main-container" id="hero"
     data-ng-class="{ 'app-nav-horizontal': main.menu === 'horizontal' }">
    <aside data-ng-include=" 'src/layout/sidebar.html' "
           id="nav-container"
           class="nav-container"
           data-ng-class="{ 'nav-fixed': main.fixedSidebar,
                            'nav-horizontal': main.menu === 'horizontal',
                            'nav-vertical': main.menu === 'vertical',
                            'bg-white': ['31','32','33','34','35','36'].indexOf(main.skin) >= 0,
                            'bg-dark': ['31','32','33','34','35','36'].indexOf(main.skin) < 0
           }">
    </aside>

    <div id="content" class="content-container">
        <!-- <div ncy-breadcrumb></div> -->
        <section data-ui-view data-custom-page
                 class="view-container {{main.pageTransition.class}}"></section>
    </div>
</div>
