.page-mastori-profile {


    .profile-header {
        position: relative;
        padding: 10px 30px 10px;
        background: url('../images/background/header.png') repeat;
        // -webkit-background-size: cover;
        // -moz-background-size: cover;
        // background-size: cover;
    }

    .profile-img {
        display: inline-block;
        // margin-right: 20px;
        img {
            // max-width: 120px;
            height: auto;
            box-shadow: 0 0 0 5px rgba(255,255,255,.5), 0 0 10px rgba(0,0,0,.2);
        }
    }

    .profile-social {
        display: inline-block;
        > a {
            margin-right: 15px;
            box-shadow: 0 0 5px rgba(0,0,0,.2);
        }
    }

    .profile-info {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #262B33;
        line-height: 20px;
        padding: 10px 60px;
        color: $bright;

        ul {
            margin: 0;
        }
    }

    img.media-object {
        border-radius: $border-radius-base;
    }



    //ratings slider colors
     md-slider .md-thumb:after{
  	 border-color: #359AB7 !important;
  	 background-color: #fff !important;
  	 border-width: 8px;
  	}
  	md-slider .md-track.md-track-fill{
  		padding:9px 0 2px 0;
  		border-radius: 4px;
  		margin-top:-2px;
  	}
  	md-slider.md-yellow .md-track.md-track-fill{
  		background-color: #FFD54F;
  	}
  	md-slider.md-orange .md-track.md-track-fill{
  		background-color: #F57C00;
  	}

  	md-slider.md-grey .md-track.md-track-fill{
  		background-color: #85d5e5;
  	}

    .card .card-title {
      font-size: 17px;
    }

  	md-slider.md-empty .md-thumb:after{
  		display:none;
  	}
  	md-slider .md-track{
  		background-color: rgba(0,0,0,0.0);
  	}
  	md-slider .md-thumb {
  		width:45px;
  		height:45px;
  		border-radius: 45px;
  	}
  	md-slider .md-thumb:after {
  		width:40px;
  		height:40px;
  		border-width: 9px;
  	}

    .md-focus-ring, .md-focus-thumb{
  		opacity:0 !important;
  		display:none !important;
  	}

    .card{box-shadow: none;}
}
