
<div class="nav-wrapper">
    <ul id="nav"
    class="nav"
    data-slim-scroll
    data-collapse-nav
    data-highlight-active>
        <li class="nav-title"> <span data-translate="NAVIGATION"></span> </li>
        <li>
            <a md-button aria-label="meanu" href="#/page"><i class="zmdi zmdi-pages"></i><span data-translate="PAGES"></span></a>
            <ul>
                <li><a md-button aria-label="meanu" ui-sref="app.mastoria"><i class="fa fa-user"></i><span data-translate="MASTORIA"></span></a></li>
                <li><a md-button aria-label="meanu" ui-sref="app.signin"><i class="fa fa-circle"></i><span data-translate="SIGN_IN"></span></a></li>
                <li><a md-button aria-label="meanu" ui-sref="app.signup"><i class="fa fa-circle"></i><span data-translate="SIGN_UP"></span></a></li>
                <li><a md-button aria-label="meanu" ui-sref="app.forgot-password"><i class="fa fa-circle"></i><span data-translate="FORGOT_PASSWORD"></span></a></li>
                <li><a md-button aria-label="meanu" ui-sref="app.profile"><i class="fa fa-circle"></i><span data-translate="USER_PROFILE"></span></a></li>
                <li><a md-button aria-label="meanu" ui-sref="app.404"><i class="fa fa-circle"></i>404 <span data-translate="ERROR"></span></a></li>
                <li><a md-button aria-label="meanu" ui-sref="app.500"><i class="fa fa-circle"></i>500 <span data-translate="ERROR"></span></a></li>
                <li><a md-button aria-label="meanu" ui-sref="app.blank"><i class="fa fa-circle"></i><span data-translate="BLANK_PAGE"></span></a></li>
            </ul>
        </li>

        <li class="nav-divider"></li>
        <li class="nav-title"> <span data-translate="FEATURES"></span> </li>
        <li class="li-small"><a href="#/ui/components"><i class="fa fa-circle color-info"></i> <span data-translate="MATERIAL_COMPO"></span></a></li>
        <li class="li-small"><a href="#/form/elements"><i class="fa fa-circle color-success"></i> <span data-translate="MATERIAL_ELEMENTS"></span></a></li>
        <li class="li-small"><a href="#/ui/icons"><i class="fa fa-circle color-danger"></i> <span data-translate="MATERIAL_ICONS"></span></a></li>
    </ul>
</div>
