<div id="loader-container"></div>
<div id="ip-container" class="ip-container">
  <!-- <header class="ip-header">
    <div class="ip-loader">
      <svg width="60px" height="60px" viewBox="0 0 80 80" class="ip-inner">
        <path d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z" class="ip-loader-circlebg"></path>
        <path id="ip-loader-circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z" class="ip-loader-circle"></path>
      </svg>
    </div>
  </header> -->
  <div class="ip-main">
    <!-- Mobile nav -->
    <div id="cbp-spmenu" class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right">
      <div class="mobile_nav_close_button"><a id="hideRight" href=""><span class="close_icon zmdi zmdi-arrow-right"></span></a></div>
      <nav id="mobile_menu_content" class="navbar-nav-mobile"><a href="#hero">Home</a><a href="#features">Features</a><a href="#faq">FAQ</a><a href="#newsletter">Newsletter</a><a href="#contact">Contact</a></nav>
    </div>
    <header id="header" class="header navbar navbar-light animated alpha80">
      <div class="container">
        <div class="navbar">
          <ul class="nav navbar-nav pull-left col-md-4">
            <li class="nav-item"><a href="#hero">Αρχική</a></li>
            <li class="nav-item"><a href="#features">Περιοχές</a></li>
          </ul>
          <a href="#" class="navbar-brand pull-left col-md-4 text-center">
            <img src="images/landing/logo.png" class="img-responsive center-block"/>
          </a>
          <ul class="nav navbar-nav pull-right col-md-4">
            <li class="nav-item"><a href="#hero">Πώς Λειτουργεί</a></li>
            <li class="nav-item"><a href="#features">Σύνδεση</a></li>
          </ul>
          <div class="pull-right togger-container"><span id="showRight" class="zmdi zmdi-menu navbar-toggler"></span></div>
        </div>
      </div>
    </header>
    <div class="main-content">
      <div id="hero" class="hero">
        <div class="hero-inner">
          <div class="container">
            <div class="col-lg-6 col-lg-offset-3">
              <h2>Βρες εύκολα το μάστορά σου όπου κι αν βρίσκεσαι</h2>
            </div>
            <div class="col-lg-6 col-lg-offset-3">
              <form ng-submit="$event.preventDefault()">
                  <md-autocomplete
                          md-selected-item="selectedItem"
                          md-search-text-change="searchTextChange(searchText)"
                          md-search-text="searchText"
                          md-selected-item-change="selectedItemChange(item.title)"
                          md-items="item in querySearch(searchText)"
                          md-item-text="item.title"
                          md-min-length="0"
                          placeholder="Διάλεξε ειδικότητα">
                      <md-item-template>
                          <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.title}}</span>
                      </md-item-template>
                      <md-not-found>
                          Δε βρέθηκαν ειδικότητες για "{{searchText}}".
                      </md-not-found>
                  </md-autocomplete>
                  <br/>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div id="features" class="features">
        <header>
          <h2 class="section-heading-underline">Βρες μάστορα σε τρία απλά βήματα!</h2>
        </header>
        <div class="container">
          <div class="row">
            <div class="feature-item col-md-4 text-center wow fadeInUp">
              <div class="image-container">
                <img src="images/landing/step1.png" />
              </div>
              <h3>Βρες Μαστόρι</h3>
              <div class="desc">
                <p>Αναζήτησε το μαστόρι που θές εκεί που το θές</p>
              </div>
            </div>
            <div data-wow-delay="0.3s" class="feature-item col-md-4 text-center wow fadeInUp">
              <div class="image-container">
                <img src="images/landing/step2.png" />
              </div>
              <h3>Κλείσε Ραντεβού</h3>
              <div class="desc">
                <p>Επικοινώνησε με το μαστόρι και μάθε αν είνα διαθέσιμο</p>
              </div>
            </div>
            <div data-wow-delay="0.6s" class="feature-item col-md-4 text-center wow fadeInUp">
              <div class="image-container">
                <img src="images/landing/step3.png" />
              </div>
              <h3>Αξιολόγησε το μαστόρι</h3>
              <div class="desc">
                <p>Αξιολόγησε τη δουλειά!</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 separator"></div>
          </div>
          <div class="row">
            <div class="feature-item col-md-4 text-center wow fadeInUp">
              <div class="icon-container  col-md-1"><span class="zmdi zmdi-check"></span></div>
              <div class="col-md-2 desc_sm">
                Καταπληκτικό
              </div>
            </div>
            <div data-wow-delay="0.3s" class="feature-item col-md-4 text-center wow fadeInUp">
              <div class="icon-container  col-md-1"><span class="zmdi zmdi-check"></span></div>
              <div class="col-md-2 desc_sm">
                Καταπληκτικό
              </div>
            </div>
            <div data-wow-delay="0.6s" class="feature-item col-md-4 text-center wow fadeInUp">
              <div class="icon-container  col-md-1"><span class="zmdi zmdi-check"></span></div>
              <div class="col-md-2 desc_sm">
                Καταπληκτικό
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="testimorials" class="testimorials">
        <div class="container">
          <header>
            <h2 class="section-heading-underline">Σχόλια χρηστών</h2>
          </header>
            <ul rn-carousel=""  rn-carousel-auto-slide="60" rn-carousel-controls rn-carousel-controls-allow-loop>
              <li >
                <div class="row text-center">
                  <div class="col-md-12">
                    <div class="profile-img">
                      <img alt="" src="images/g1.jpg" class="img-circle img80_80">
                    </div>
                    <h3>Φωτεινή Μ.</h3>
                    <small>Θεσσαλονίκη, Ιούνιος 2016</small>
                  </div>
                  <div class="col-md-8 col-md-offset-2 quote">
                     <i>
                       Εύγε! Είστε απίθανοι. Τέτοιο πράγμα δεν ξανάδα. Αγαπώ όλους τους μάστορές σας. Μόνο με το μαστόρι κάνω δουλειά.
                     </i>
                  </div>
                </div>
              </li>
              <li >
                <div class="row text-center">
                  <div class="col-md-12">
                    <div class="profile-img">
                      <img alt="" src="images/landing/person.jpg" class="img-circle img80_80">
                    </div>
                    <h3>Μανώλης Κ.</h3>
                    <small>Θεσσαλονίκη, Ιούνιος 2016</small>
                  </div>
                  <div class="col-md-8 col-md-offset-2 quote">
                     <i>
                       Εύγε! Είστε απίθανοι. Τέτοιο πράγμα δεν ξανάδα. Αγαπώ όλους τους μάστορές σας. Μόνο με το μαστόρι κάνω δουλειά.
                     </i>
                  </div>
                </div>
              </li>
            </ul>
        </div>
      </div>
      <div id="map" class="map">
        <div class="container">
          <!-- <header>
            <h2 class="section-heading-underline">Σχόλια χρηστών</h2>
          </header> -->
          <country-map markers="mapMarkers" zoomable="false"></country-map >
        </div>
      </div>
      <div id="newsletter" data-stellar-background-ratio="0.6" class="newsletter">
        <h2>Sign up to Our newsletter</h2>
        <form>
          <fieldset>
            <div class="form-group">
              <div class="ui-input-group">
                <input id="name_2" type="text" required class="form-control"><span class="input-bar"></span>
                <label>Email</label>
              </div>
            </div><a href="javascript:;" type="submit" data-wow-delay="0.15s" class="btn btn-primary btn-lg btn-raised ui-wave wow fadeInUp">Subscribe</a>
          </fieldset>
        </form>
      </div>
      <div id="contact" class="contact">
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              <h3 class="section-heading-underline">Contact Info</h3>
              <div class="contact-info-container wow fadeInLeft">
                <p class="lead"> Feel free to contact us, if you have any questions, we'll be glad to help.</p>
                <ul class="list-unstyled contact-info">
                  <li> <span class="zmdi zmdi-pin"></span>San Mateo, CA, 94403</li>
                  <li><span class="zmdi zmdi-phone"></span>(012) 345 6789</li>
                  <li><span class="zmdi zmdi-email"></span>mail@domain.com</li>
                  <li><span class="zmdi zmdi-city-alt"></span>www.site.com</li>
                </ul>
              </div>
            </div>
            <div class="col-md-5 col-md-offset-2">
              <h3 class="section-heading-underline">Contact Us</h3>
              <form novalidate class="form-horizontal wow fadeInRight">
                <fieldset>
                  <div class="form-group">
                    <div class="ui-input-group">
                      <input type="text" required class="form-control"><span class="input-bar"></span>
                      <label>Email</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="ui-input-group">
                      <input type="text" required class="form-control"><span class="input-bar"></span>
                      <label>Password</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="ui-input-group">
                      <textarea type="text" required rows="5" class="form-control"></textarea><span class="input-bar"></span>
                      <label>Message                                </label>
                    </div>
                  </div>
                  <div class="divider"></div>
                  <div class="form-group">
                    <button class="btn btn-raised btn-primary btn-w-sm ui-wave">SUBMIT</button>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="action-call text-center"><span>Build with your favorite Bootstrap, get up and running in minutes</span><a href="http://themeforest.net/item/material-design-admin-with-angularjs/13582227?ref=arousing" target="_blank" class="btn btn-default btn-cta btn-lg btn-raised ui-wave">Download Material<span class="zmdi zmdi-chevron-right"></span></a></div>
    </div>
    <footer class="footer text-center"><span>© Copyright <span id="copyright"></span> Material</span></footer>
  </div>
</div>
