
<div class="wrapper">
    <div class="main-body">
        <div class="body-inner">
            <div class="card bg-white">
                <div class="card-content" ng-if="mastoria.$resolved">
                    ΣΥΝΟΛΙΚΑ ΜΑΣΤΟΡΙΑ: {{ ::mastoria.total }}
                    <br />

                    <button class="btn btn-flat" ng-class="{'btn-danger': params.order == 'asc' && params.orderby == 'last_name'}"  ng-click="setParams({orderby: 'last_name', order: 'asc'})">Order By Last name asc</button>
                    <button class="btn btn-flat" ng-class="{'btn-danger': params.order == 'desc' && params.orderby == 'last_name'}"  ng-click="setParams({orderby: 'last_name', order: 'desc'})">Order By Last name desc</button>
                    <button class="btn btn-flat" ng-class="{'btn-danger': params.order == 'desc' && params.orderby == 'avg_rating'}" ng-click="setParams({orderby: 'avg_rating', order: 'desc'})">Order By Rating</button>
                    <md-checkbox ng-false-value="null" ng-true-value="'yes'" ng-model="params.only_offers" ng-change="setParams({only_offers: params.only_offers})">
                        Only offers
                    </md-checkbox>
                    <div class="panel panel-default panel-labeled">
                        <div class="panel-body">
                            <div class="media-list media-divider-full">
                                <div class="media" ng-repeat="mastori in mastoria.data" ng-class="{'ui-ribbon-container ui-ribbon-danger' : mastori.offers}">
                                    <div class="ui-ribbon-wrapper" ng-if="mastori.offers">
                                        <div class="ui-ribbon">
                                            ΠΡΟΣΦΟΡΑ
                                        </div>
                                    </div>
                                    <a class="media-left p-b-sm" href="">
                                        <img alt="" src="images/g1.jpg" class="img-circle img64_64">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            {{ ::mastori.last_name }} {{ ::mastori.first_name }}
                                            <!-- <span ng-if="mastori.offers" class="label label-danger">OFFER</span> -->
                                        </h4>
                                        <div>
                                            <!-- <uib-rating class="ui-rating size-h4 ui-rating-success"
                                            ng-model="mastori.avg_rating"
                                            max="5"
                                            readonly="true"
                                            state-on="'fa fa-star'"
                                            state-off="'fa fa-star-o'"></uib-rating-->
                                            AVG RATING: {{ ::mastori.avg_rating }}
                                        </div>
                                        <p>{{ ::mastori.description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
