@-webkit-keyframes move-arrow {
    0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
}
}@keyframes move-arrow {
    0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
}
}body {
    background-color: #fff;
}
h1, h2, h3 {
    font-weight: bold;
}
.section-heading-underline {
    text-align: center;
    font-weight: 500;
    color:#fff;
}
.section-heading-underline:after {
    /*content: "";
    height: 3px;
    width: 100px;
    margin: 0.8em auto 0 auto;
    display: block;
    background: #eff0f3;*/
}

.testimorials .section-heading-underline{
  color:#0398b8;
  font-size:34px;
  margin-top:0;
  margin-bottom:50px;
}
@-webkit-keyframes slideInDown {
    0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
}
100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
}@keyframes slideInDown {
    0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
}
100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
}@-webkit-keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0,  50%,  0);
    transform: translate3d(0,  50%,  0);
}
100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}
}@keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0,  50%,  0);
    transform: translate3d(0,  50%,  0);
}
100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}
}@-webkit-keyframes fadeInLeft {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%,  0,  0);
    transform: translate3d(-50%,  0,  0);
}
100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}
}@keyframes fadeInLeft {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%,  0,  0);
    transform: translate3d(-50%,  0,  0);
}
100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}
}@-webkit-keyframes fadeInRight {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(50%,  0,  0);
    transform: translate3d(50%,  0,  0);
}
100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}
}@keyframes fadeInRight {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(50%,  0,  0);
    transform: translate3d(50%,  0,  0);
}
100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}
}.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}
.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}
.animated {
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}
.btn.btn-raised, .btn-group.btn-raised {
    text-transform: uppercase;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: .25s ease-out;
    transition: .25s ease-out;
}
.btn.btn-raised:hover, .btn.btn-raised:focus, .btn.btn-raised:active, .btn-group.btn-raised:hover, .btn-group.btn-raised:focus, .btn-group.btn-raised:active {
    outline: none;
}
.btn.btn-raised:disabled, .btn.btn-raised.disabled, .btn-group.btn-raised:disabled, .btn-group.btn-raised.disabled {
    box-shadow: none;
}
.btn.btn-raised:hover, .btn-group.btn-raised:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.btn.btn-floating, .btn-group.btn-floating {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: .25s;
    transition: .25s;
}
.btn.btn-floating:hover, .btn.btn-floating:focus, .btn.btn-floating:active, .btn-group.btn-floating:hover, .btn-group.btn-floating:focus, .btn-group.btn-floating:active {
    outline: none;
}
.btn.btn-floating:disabled, .btn.btn-floating.disabled, .btn-group.btn-floating:disabled, .btn-group.btn-floating.disabled {
    box-shadow: none;
}
.btn.btn-floating:hover, .btn-group.btn-floating:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.btn.btn-raised.btn-primary:hover, .btn.btn-raised.btn-primary:focus, .btn.btn-raised.btn-primary.focus, .btn.btn-raised.btn-primary:active, .btn.btn-raised.btn-primary.active, .open>.btn.btn-raised.btn-primary.dropdown-toggle, .btn.btn-floating.btn-primary:hover, .btn.btn-floating.btn-primary:focus, .btn.btn-floating.btn-primary.focus, .btn.btn-floating.btn-primary:active, .btn.btn-floating.btn-primary.active, .open>.btn.btn-floating.btn-primary.dropdown-toggle, .btn-group.btn-raised.btn-primary:hover, .btn-group.btn-raised.btn-primary:focus, .btn-group.btn-raised.btn-primary.focus, .btn-group.btn-raised.btn-primary:active, .btn-group.btn-raised.btn-primary.active, .open>.btn-group.btn-raised.btn-primary.dropdown-toggle, .btn-group.btn-floating.btn-primary:hover, .btn-group.btn-floating.btn-primary:focus, .btn-group.btn-floating.btn-primary.focus, .btn-group.btn-floating.btn-primary:active, .btn-group.btn-floating.btn-primary.active, .open>.btn-group.btn-floating.btn-primary.dropdown-toggle {
    background-color: #007d71;
    border-color: #007d71;
}
.btn.btn-raised.btn-info:hover, .btn.btn-raised.btn-info:focus, .btn.btn-raised.btn-info.focus, .btn.btn-raised.btn-info:active, .btn.btn-raised.btn-info.active, .open>.btn.btn-raised.btn-info.dropdown-toggle, .btn.btn-floating.btn-info:hover, .btn.btn-floating.btn-info:focus, .btn.btn-floating.btn-info.focus, .btn.btn-floating.btn-info:active, .btn.btn-floating.btn-info.active, .open>.btn.btn-floating.btn-info.dropdown-toggle, .btn-group.btn-raised.btn-info:hover, .btn-group.btn-raised.btn-info:focus, .btn-group.btn-raised.btn-info.focus, .btn-group.btn-raised.btn-info:active, .btn-group.btn-raised.btn-info.active, .open>.btn-group.btn-raised.btn-info.dropdown-toggle, .btn-group.btn-floating.btn-info:hover, .btn-group.btn-floating.btn-info:focus, .btn-group.btn-floating.btn-info.focus, .btn-group.btn-floating.btn-info:active, .btn-group.btn-floating.btn-info.active, .open>.btn-group.btn-floating.btn-info.dropdown-toggle {
    background-color: #00a5bb;
    border-color: #00a5bb;
}
.btn.btn-raised.btn-warning:hover, .btn.btn-raised.btn-warning:focus, .btn.btn-raised.btn-warning.focus, .btn.btn-raised.btn-warning:active, .btn.btn-raised.btn-warning.active, .open>.btn.btn-raised.btn-warning.dropdown-toggle, .btn.btn-floating.btn-warning:hover, .btn.btn-floating.btn-warning:focus, .btn.btn-floating.btn-warning.focus, .btn.btn-floating.btn-warning:active, .btn.btn-floating.btn-warning.active, .open>.btn.btn-floating.btn-warning.dropdown-toggle, .btn-group.btn-raised.btn-warning:hover, .btn-group.btn-raised.btn-warning:focus, .btn-group.btn-raised.btn-warning.focus, .btn-group.btn-raised.btn-warning:active, .btn-group.btn-raised.btn-warning.active, .open>.btn-group.btn-raised.btn-warning.dropdown-toggle, .btn-group.btn-floating.btn-warning:hover, .btn-group.btn-floating.btn-warning:focus, .btn-group.btn-floating.btn-warning.focus, .btn-group.btn-floating.btn-warning:active, .btn-group.btn-floating.btn-warning.active, .open>.btn-group.btn-floating.btn-warning.dropdown-toggle {
    background-color: #ffc40f;
    border-color: #ffc40f;
}
.btn.btn-raised.btn-danger:hover, .btn.btn-raised.btn-danger:focus, .btn.btn-raised.btn-danger.focus, .btn.btn-raised.btn-danger:active, .btn.btn-raised.btn-danger.active, .open>.btn.btn-raised.btn-danger.dropdown-toggle, .btn.btn-floating.btn-danger:hover, .btn.btn-floating.btn-danger:focus, .btn.btn-floating.btn-danger.focus, .btn.btn-floating.btn-danger:active, .btn.btn-floating.btn-danger.active, .open>.btn.btn-floating.btn-danger.dropdown-toggle, .btn-group.btn-raised.btn-danger:hover, .btn-group.btn-raised.btn-danger:focus, .btn-group.btn-raised.btn-danger.focus, .btn-group.btn-raised.btn-danger:active, .btn-group.btn-raised.btn-danger.active, .open>.btn-group.btn-raised.btn-danger.dropdown-toggle, .btn-group.btn-floating.btn-danger:hover, .btn-group.btn-floating.btn-danger:focus, .btn-group.btn-floating.btn-danger.focus, .btn-group.btn-floating.btn-danger:active, .btn-group.btn-floating.btn-danger.active, .open>.btn-group.btn-floating.btn-danger.dropdown-toggle {
    background-color: #f32c1e;
    border-color: #f32c1e;
}
.btn.btn-raised.btn-default:hover, .btn.btn-raised.btn-default:focus, .btn.btn-raised.btn-default.focus, .btn.btn-raised.btn-default:active, .btn.btn-raised.btn-default.active, .open>.btn.btn-raised.btn-default.dropdown-toggle, .btn.btn-floating.btn-default:hover, .btn.btn-floating.btn-default:focus, .btn.btn-floating.btn-default.focus, .btn.btn-floating.btn-default:active, .btn.btn-floating.btn-default.active, .open>.btn.btn-floating.btn-default.dropdown-toggle, .btn-group.btn-raised.btn-default:hover, .btn-group.btn-raised.btn-default:focus, .btn-group.btn-raised.btn-default.focus, .btn-group.btn-raised.btn-default:active, .btn-group.btn-raised.btn-default.active, .open>.btn-group.btn-raised.btn-default.dropdown-toggle, .btn-group.btn-floating.btn-default:hover, .btn-group.btn-floating.btn-default:focus, .btn-group.btn-floating.btn-default.focus, .btn-group.btn-floating.btn-default:active, .btn-group.btn-floating.btn-default.active, .open>.btn-group.btn-floating.btn-default.dropdown-toggle {
    background-color: #f2f2f2;
    border-color: #f2f2f2;
}
.btn-flat {
    background: none;
    color: #373a3c;
    border: 1px solid transparent;
    text-transform: uppercase;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: .25s ease-out;
    transition: .25s ease-out;
}
.btn-flat:hover, .btn-flat:focus, .btn-flat:active {
    background-color: #fafafa;
    outline: none;
    box-shadow: none;
    border-color: #fafafa;
}
.btn-flat.btn-primary {
    color: #009688;
}
.btn-flat.btn-info {
    color: #00BCD4;
}
.btn-flat.btn-warning {
    color: #FFCA28;
}
.btn-flat.btn-danger {
    color: #F44336;
}
.btn-w-xs {
    min-width: 80px;
}
.btn-w-sm {
    min-width: 100px;
}
.btn-w-md {
    min-width: 135px;
}
.btn-w-lg {
    min-width: 160px;
}
.ui-wave {
    position: relative;
    overflow: hidden;
    z-index: 0;
    -webkit-transition: all 0.2s cubic-bezier(0.4,  0,  0.2,  1);
    transition: all 0.2s cubic-bezier(0.4,  0,  0.2,  1);
}
.ui-wave.ui-wave-overflowed {
    overflow: visible;
}
.ui-wave .ink {
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.ui-wave.btn-flat .ink, .ui-wave.btn-default .ink {
    background: rgba(0, 0, 0, 0.2);
}
.wave-animate {
    -webkit-animation: ripple 0.65s linear;
    animation: ripple 0.65s linear;
}
@-webkit-keyframes ripple {
    100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
}
}.ui-input-group {
    position: relative;
    margin: 18px 0 12px;
}
.ui-input-group .form-control {
    background-color: transparent;
    box-shadow: none;
}
.ui-input-group .form-control:focus {
    border-color: #009688;
}
.ui-input-group>input, .ui-input-group>textarea {
    padding-left: 0;
    padding-right: 0;
    border: none;
    border-bottom: 1px solid #ccc;
}
.ui-input-group>input:focus, .ui-input-group>textarea:focus {
    outline: none;
}
.ui-input-group>input:focus ~ label, .ui-input-group>input:valid ~ label, .ui-input-group>textarea:focus ~ label, .ui-input-group>textarea:valid ~ label {
    top: -20px;
    left: 0;
    font-size: 12px;
}
.ui-input-group>input:valid ~ label, .ui-input-group>textarea:valid ~ label {
    color: #999;
}
.ui-input-group>input:focus ~ label, .ui-input-group>textarea:focus ~ label {
    color: #009688;
}
.ui-input-group>input:focus ~ .input-bar:before, .ui-input-group>input:focus ~ .input-bar:after, .ui-input-group>textarea:focus ~ .input-bar:before, .ui-input-group>textarea:focus ~ .input-bar:after {
    width: 50%}
.ui-input-group>label {
    color: #999;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 10px;
    -webkit-transition: all 0.35s cubic-bezier(0.4,  0,  0.2,  1);
    transition: all 0.35s cubic-bezier(0.4,  0,  0.2,  1);
}
.ui-input-group .input-bar {
    position: relative;
    display: block;
    width: 100%}
.ui-input-group .input-bar:before, .ui-input-group .input-bar:after {
    content: '';
    height: 1px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #009688;
    -webkit-transition: all 0.35s cubic-bezier(0.4,  0,  0.2,  1);
    transition: all 0.35s cubic-bezier(0.4,  0,  0.2,  1);
}
.ui-input-group .input-bar:before {
    left: 50%}
.ui-input-group .input-bar:after {
    right: 50%}
.header {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    background-color: transparent;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding: 10px  2em 10px 2em;
}
.header .container {
    padding: 0 15px;
}
.header .navbar {
    padding: 0;
    margin-bottom: 0;
}
.header .navbar ul{
  padding:45px 0;
}
.header.navbar-light {
    border: 0;
}
.header.navbar-fixed-top {
    background-color: #fff;
    position: fixed;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
    color: #243333;
    padding-top:0;
    padding-bottom:0;
}
.header.navbar-fixed-top a, .header.navbar-fixed-top .navbar-toggler, .header.navbar-fixed-top .navbar-nav>li>a {
    color: #243333;
}
.header.navbar-fixed-top .navbar-nav>li>a:hover, .header.navbar-fixed-top .navbar-nav>li>a:active, .header.navbar-fixed-top .navbar-nav>li>a:focus {
    color: #243333;
}
.header.navbar-fixed-top .container {
    padding: 1em 0;
}

/*.header.navbar-fixed-top img{width:130px; margin-top:-15px;}*/
.header.navbar-fixed-top .navbar ul {
    padding: 20px 0;
}

.header .navbar-brand {
    padding: 0px 0;
    font-size: 20px;
    line-height: 20px;
    font-weight: 300;
    letter-spacing: .2em;
    color: #fff;
}
.header .navbar-brand:hover, .header .navbar-brand:active, .header .navbar-brand:focus {
    color: #f1f1f1;
}

.header .brand-txt {
    display: none;
}

@media (min-width: 34em) {
    .header .brand-txt {
    display: inline-block;

}
}.header .navbar-nav {
    display: none;
}

@media (min-width: 62em) {
    .header .navbar-nav {
    display: block;
}


}.header .navbar-toggler {
    display: block;
    color: #fafafa;
}
.header .navbar-toggler:hover {
    cursor: pointer;
}
@media (min-width: 62em) {
    .header .navbar-toggler {
    display: none;
}
}.header .navbar-collapse {
    background-color: rgba(255, 255, 255, 0.9);
}
@media (min-width: 34em) {
    .header .navbar-collapse {
    background: none;
}
}@media (min-width: 34em) {
    .header .navbar-nav {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .1em;
    padding: 7px 0;
}
.header .navbar-nav>li {
    margin-left: 25px;
    padding: 8px 10px;
}
.header .navbar-nav>li.highlight {
    border: 2px solid #f1f1f1;
    border-radius: 2px;
}
.header .navbar-nav>li.highlight>a:hover, .header .navbar-nav>li.highlight>a:active, .header .navbar-nav>li.highlight>a:focus {
    font-weight: normal;
    color: #fff;
    border-bottom: 0;
}
.header .navbar-nav>li.active>a {
    font-weight: normal;
    color: #f1f1f1;
    background-color: transparent;
}
.header .navbar-nav>li.active>a:hover, .header .navbar-nav>li.active>a:active, .header .navbar-nav>li.active>a:focus {
    font-weight: normal;
    color: #f1f1f1;
    background-color: transparent;
}
.header .navbar-nav>li>a {
    padding: 0;
    font-weight: 300;
    color: #fff;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    border-bottom: 2px solid transparent;
}
.header .navbar-nav>li>a:hover, .header .navbar-nav>li>a:active, .header .navbar-nav>li>a:focus {
    font-weight: 300;
    color: #f1f1f1;
    background-color: transparent;
}
}.header .togger-container {
    padding: 6px 0;
}
.cbp-spmenu {
    position: fixed;
    padding-top: 3rem;
    background-color: #243333;
    box-shadow: -1px 0px 7px 0px #323232;
}
.cbp-spmenu a {
    color: #DCFAFC;
    display: block;
    font-size: .9rem;
    line-height: 1.72rem;
    text-decoration: none;
    text-align: left;
    opacity: 0.5;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
.cbp-spmenu a:hover {
    margin-left: 0.2rem;
    opacity: 1;
}
.cbp-spmenu-vertical {
    width: 200px;
    height: 100%;
    top: 0;
    z-index: 1001;
}
.cbp-spmenu-vertical a {
    padding: 0.4rem;
    padding-left: 2rem;
}
.cbp-spmenu-right {
    right: -210px;
}
.cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
}
.cbp-spmenu, .cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.mobile_menu_open_button {
    margin-top: 0.5rem;
}
.mobile_nav_close_button {
    position: absolute;
    z-index: 100;
    right: 2rem;
    top: 2.7rem;
    border: 0;
}
.mobile_nav_close_button a {
    border: 0;
    color: white;
    font-size: 2rem !important;
    line-height: 2rem;
    opacity: 0.5 !important;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.mobile_nav_close_button a:hover {
    opacity: 1 !important;
    margin-left: 0rem !important;
}
.mobile_nav_open_button a {
    border: 0;
    color: white;
    font-size: 2rem !important;
    line-height: 2rem;
}
.mobile_nav_open_button {
    opacity: 0.5;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.mobile_nav_open_button:hover {
    opacity: 1;
}
#mobile_menu_content {
    clear: both;
    box-shadow: none;
    -webkit-box-shadow: none;
}


.main-content {
    overflow: hidden;
}

.shadow{
  /*text-shadow: 0 0 120px rgba(0,0,0,0.99);*/
  text-shadow:4px 4px 10px rgba(22,22,22,0.93);
}
.hero {
    position: relative;
    border: 0;
    color: #fff;
    text-align: center;
    padding: 200px 0 150px;

}
.hero .hero-inner {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -110px;
}
.hero h2 {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 20px;
}
@media (min-width: 34em) {
    .hero h2 {
    font-size: 38px;
    line-height: 40px;
    margin-bottom: 32px;
  }
}


.hero .btn-cta {
    margin: 3rem 0 0;
    letter-spacing: 0.8px;
    font-size: 14px;
    min-width: 220px;
    padding: 1em;
    color: #f5f5f5;
    color: rgba(255, 255, 255, 0.85);
}
.hero .preview-img {
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.features {
    padding: 40px 0 30px;
    border-bottom: 1px solid #ddd;
    background:#0398b8;
}
.features>header {
    padding: 0 20px;
    margin-bottom: 60px;
}
.features header h3 {
}
.features .feature-item {
    margin-bottom: 50px;
}


.row.feature_icons .feature-item .icon-container{margin-left:20px; }
.features .feature-item:after {
    /*content: "";
    width: 100px;
    height: 3px;
    display: inline-block;
    background: #eff0f3;
    margin-top: 2em;*/
}


.separator{border-top:1px solid #95e4ff;height:40px;}
.features .feature-item .icon-container {
    margin: auto;
    height: 65px;
    width: 65px;
    line-height: 65px;
    padding: 0;
    border-radius: 50%;
    border: 3px solid #95e5ff;
    font-size: 50px;
    color: #fff;
    font-weight:bold;
}
.features .feature-item .image-container {
      margin: auto;
      height:240px;
}
.features .feature-item .icon-container .zmdi {
    vertical-align: middle;
    margin-top: -8px;
}
.features .feature-item h3 {
    font-size: 26px;
    margin-top: .6rem;
    margin-bottom: .6rem;
    font-weight: normal;
    color: #95e5ff;
}
.features .feature-item .desc {
    max-width: 310px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-size: 18px;
    line-height: 1.6em;
}

.features .feature-item  .desc_sm{
  height:65px;
  margin:0 auto;
  vertical-align:middle;
  font-size:18px;
  /*text-align: left;*/
  color:#fff;
  margin-top:20px;
}

.apps{
  background: url("../../images/landing/bg-apps.png") no-repeat;
  background-size: cover;
  min-height:549px;
  padding: 50px 0;
}
.apps p {
 font-size:20px;
 color:#fff;
}
.apps h2 {
  text-align: left;

}


.whatis {
  background-color: #fff;
  position: relative;
  padding: 50px 0;
  color: #515151;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}

.whatis h2 {
  position: relative;
  font-size: 34px;
  text-align: left;
  font-weight: normal;
  color: #0398b8;
}
.whatis p {
    margin: 30px 0px;
    font-size:18px;
}

.testimorials {
    background: url("../../images/landing/background-users.png") repeat 0 0;
    padding: 4em 2em 5em;
}

#landing #map{
  background-color: #22435D ;
  background-image:url("../../images/landing/background-map.png") ;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height:545px;
  padding: 4em 2em 2.2em;
}
.testimorials .quote{
  font-size:21px;
  color:#6e7579;
  line-height:22px;
  padding-top:15px;
}

.testimorials .rn-carousel-control{
  color:#D24918;
  font-weight:bold;
  font-size:35px;
}
.testimorials ul[rn-carousel]{
  min-height:270px;
}
.testimorials .container{
  position:relative;
}

.testimorials h3{
  font-size:18px;
  color:#4c5559;
  font-weight: bold;
}

.testimorials small{
  color: #4c5559;
  font-size:13px;
}
ul[rn-carousel] {
    width: 100%;
    min-height: 200px;
    margin: 0 auto;
}

}.testimorials h4 {
    margin-bottom: .6em;
    font-size: 21px;
    line-height: 1.6em;
}
.testimorials .testimorials-a {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    line-height: 1.6em;
}



.footer {
    position: relative;
    color: #fff;
    position: relative;
    background-color: #0398b8;
    padding: 20px 0px;
    margin:0 auto;
    font-size:16px;
}

.footer a {
  color:#91e2fc;
  font-size:14px;
}
.footer hr{
  border-top: 1px solid #91e2fc;
}
.footer ul.social a{
  font-size:24px;
}
.footer ul.social li{
  float:left;
  margin-right:15px;
}
.footer ul.social li :last-child{
  margin-right:0;
}
.footer .fnav{
  margin:0 auto;
}
.footer .fnav ul{
  list-style: none;
  text-align: left;
  margin-bottom:15px;
}
.footer .fnav ul li:first-child{
  margin-bottom:10px;
}
.footer .fnav ul:last-child{
  margin-right:0px;
}

.footer .copyright{font-size:14px;}

.alpha80 {
  /*border:1px solid red;*/
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(36, 50, 56);
    /* RGBa with 0.6 opacity */
    background-color: rgba(36, 50, 56, 0.8);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
input{color:#000;}



/*map*/

#countryMap{
  width: 100%;
  height: 100%;
  min-height: 450px;
}
.map-marker {
    /* adjusting for the marker dimensions
    so that it is centered on coordinates */
    margin-left: -8px;
    margin-top: -8px;
}
.map-marker.map-clickable {
    cursor: pointer;
}
.pulse {
		width: 20px;
		height: 20px;
		border: 5px solid #FC5520;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
		border-radius: 30px;
		background-color: #FC5520;
		/*z-index: 10;*/
		position: absolute;
	}
.map-marker .dot {
		border: 10px solid #fff;
		background: transparent;
		-webkit-border-radius: 60px;
		-moz-border-radius: 60px;
		border-radius: 60px;
		height: 50px;
		width: 50px;
		-webkit-animation: pulse 3s ease-out;
		-moz-animation: pulse 3s ease-out;
		animation: pulse 3s ease-out;
		-webkit-animation-iteration-count: infinite;
		-moz-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		position: absolute;
		top: -15px;
		left: -15px;
		z-index: 1;
		opacity: 0;
	}
	@-moz-keyframes pulse {
	 0% {
	   	-moz-transform: scale(0);
	   	opacity: 0.0;
	 }
	 25% {
	   	-moz-transform: scale(0);
	   	opacity: 0.1;
	 }
	 50% {
	   	-moz-transform: scale(0.1);
	   	opacity: 0.3;
	 }
	 75% {
	   	-moz-transform: scale(0.5);
	   	opacity: 0.5;
	 }
	 100% {
	   	-moz-transform: scale(1);
	   	opacity: 0.0;
	 }
	}
	@-webkit-keyframes "pulse" {
	 0% {
	    -webkit-transform: scale(0);
	   	opacity: 0.0;
	 }
	 25% {
	    -webkit-transform: scale(0);
	   	opacity: 0.1;
	 }
	 50% {
	    -webkit-transform: scale(0.1);
	   	opacity: 0.3;
	 }
	 75% {
	    -webkit-transform: scale(0.5);
	   	opacity: 0.5;
	 }
	 100% {
	    -webkit-transform: scale(1);
	   	opacity: 0.0;
	 }
	}


#search {
  padding:15px 20px;
  border-radius:3px;
}
#search .control{
  margin:0;
  padding:0;
}
#search .control:last-child{
  /*margin-left:15px;*/
}

/*Address search*/

#search button.btn{width:80%;}
md-autocomplete{display: inline;}
#address-input, md-autocomplete input, md-autocomplete input:not(.md-input) {
    background-color: #fff;
    font-size: 17px;
    font-weight: 300;
    /*margin-left: 12px;*/
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    color:#7e7e7e;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    border: 1px solid #CBD5DD;

    /*width: 300px;*/
}

.search-address {margin-left: 5%;}

/*.header .navbar ul li:hover{
  background-color: rgb(3,  182,  205,  0.4)
  background-color: rgba(3,  182,  205,  0.4);
  background: rgba(3,  182,  205,  0.4);
  color: rgba(3,  182,  205,  0.4)

  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}*/


.circle-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    vertical-align: middle;
}

.nav-item i{margin-right:10px; font-size:22px; color:#fff;}

.text-blue {color:#0398B8;}
.text-orange {color:#D24918;}
.bg-blue {background-color:#0398B8;}
.bg-orange {background-color:#D24918;}

.professions {font-size:14px;}
.professions div.col-xs-3{position:relative;text-align:center; padding-left:0; padding-right:1px;}
.professions.last div.col-xs-3:last-child{padding-right:0;}


.professions div.alpha80{
   padding:12px 0;
   min-height:87px;
   border-radius: 3px;
}

.professions .img-responsive {
    margin: 0 auto 10px auto;
}





/*tablets*/
@media (max-width: 979px) {
  #landing #map{background-image:none;}
}


/*phones*/
@media (max-width: 767px) {
  #landing #map{background-image:none;}
}
