<div class="page-forgot" ng-controller="authCtrl">


    <div class="wrapper">
        <div class="main-body">
            <div class="body-inner">
                <div class="card bg-white">
                  <form ng-controller="authCtrl" novalidate name="forgotpass_form" ng-submit="!forgotpass_form.$valid || reset()">
                    <div class="card-content">
                      <section class="logo text-center">
                          <a href="#/"><img alt="logo" src="images/logo.png" width="80"></a>
                      </section>

                      <fieldset>
                          <md-input-container class="md-block">
                            <label>Email</label>
                            <input required
                                   type="email"
                                   name="email"
                                   class="form-control"
                                   ng-model="email"
                                   ng-pattern="/^.+@.+\..+$/" />
                            <div ng-messages="forgotpass_form.email.$error" multiple ng-if='forgotpass_form.email.$dirty'>
                                <div ng-message="required">This is required.</div>
                                <div ng-message="pattern">It must be an e-mail address.</div>
                            </div>
                            <span class="input-bar"></span>
                         </md-input-container>
                         <div class="additional-info text-center text-small">
                             Enter your email address that you used to register. We'll send you an email with your username and a link to reset your password.
                         </div>
                      </fieldset>
                    </div><!-- end card-content-->
                    <div class="card-action no-border text-right">
                      <button type="submit" class="color-primary btn btn-link" data-ng-disabled="!forgotpass_form.$valid">Reset</button>
                    </div><!-- end card-action-->
                  </form>
                </div><!-- end card-->
            </div>
        </div>

    </div>
</div>