<div class="signin-modal">
    <div class="modal-header">
        <section class="logo text-center">
            <a href="#/"><img alt="logo" src="images/logo.png" width="80"></a>
        </section>
    </div>
    <div class="modal-body">
        <div data-ng-include=" 'views/user/partials/_login-form.html' "></div>
    </div>
    <div class="modal-footer additional-info">
        <a href ng-click="goTo('app.signup')">Register</a>
        <span class="divider-h"></span>
        <a href ng-click="goTo('app.forgot-password')">Forgot your password?</a>
    </div>
</div>