<div class="page-signup" ng-controller="authCtrl">

    <div class="wrapper">
        <div class="main-body">
            <div class="body-inner">

                <div class="card bg-white">
                    <div class="card-content">
                        <section class="logo text-center">
                            <h1><a href="#/">{{main.brand}}</a></h1>
                        </section>

                        <form ng-controller="authCtrl" class="form-horizontal" novalidate name="signup_form" ng-submit="!signup_form.$valid || signup()">
                            <fieldset>
                                <md-input-container class="md-block">
                                    <label>Email</label>
                                    <md-icon class="zmdi zmdi-account-o"></md-icon>
                                    <input required
                                           type="email"
                                           name="email"
                                           ng-model="user.email"
                                           ng-pattern="/^.+@.+\..+$/" />
                                    <div ng-messages="signup_form.email.$error" multiple ng-if='signup_form.email.$dirty'>
                                        <div ng-message="required">This is required.</div>
                                        <div ng-message="pattern">It must be an e-mail address.</div>
                                    </div>
                                </md-input-container>

                                <div class="divider divider-md"></div>

                                <md-input-container class="md-block">
                                    <label>Password</label>
                                    <md-icon class="zmdi zmdi-lock-outline"></md-icon>
                                    <input required
                                           type="password"
                                           name="password"
                                           ng-model="user.password">
                                    <div ng-messages="signup_form.password.$error" multiple ng-if='signup_form.password.$dirty'>
                                        <div ng-message="required">This is required.</div>
                                    </div>
                                </md-input-container>

                                <md-input-container class="md-block">
                                    <label>Password (Again)</label>
                                    <md-icon class="zmdi zmdi-lock-outline"></md-icon>
                                    <input required
                                           type="password"
                                           name="password_repeat"
                                           ng-model="user.password_repeat">
                                    <div ng-messages="signup_form.password_repeat.$error" multiple ng-if='signup_form.password_repeat.$dirty'>
                                        <div ng-message="required">This is required.</div>
                                    </div>
                                </md-input-container>

                                <md-input-container class="md-block">
                                    <label>Fullname</label>
                                    <md-icon class="zmdi zmdi-lock-outline"></md-icon>
                                    <input required
                                           type="text"
                                           name="name"
                                           ng-model="user.name">
                                    <div ng-messages="signup_form.name.$error" multiple ng-if='signup_form.name.$dirty'>
                                        <div ng-message="required">This is required.</div>
                                    </div>
                                </md-input-container>

                                <md-input-container class="md-block">
                                    <label>Phone</label>
                                    <md-icon class="zmdi zmdi-lock-outline"></md-icon>
                                    <input required
                                           type="text"
                                           name="phone"
                                           ng-model="user.phone">
                                    <div ng-messages="signup_form.phone.$error" multiple ng-if='signup_form.phone.$dirty'>
                                        <div ng-message="required">This is required.</div>
                                    </div>
                                </md-input-container>

                                <div class="divider"></div>

                                <div class="form-group">
                                    <p class="text-small">By clicking on sign up, you agree to <a href="javascript:;"><i>terms</i></a> and <a href="javascript:;"><i>privacy policy</i></a></p>
                                </div>

                                <md-button type="submit"
                                   class="md-raised btn-w-md md-primary"
                                   data-ng-disabled="!signup_form.$valid">Sign Up</md-button>
                            </fieldset>
                        </form>
                    </div>
                    <div class="card-action no-border text-right">
                        <a href ng-click="openLoginModal()">Login</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
