<div class="page-signin">

    <div class="wrapper">
        <div class="main-body">
            <div class="body-inner">
                <div class="card bg-white">
                    <div class="card-content">
                        <section class="logo text-center">
                            <h1><a href="#/">Mastori</a></h1>
                        </section>
                        <div data-ng-include=" 'views/user/partials/_login-form.html' "></div>
                    </div>
                </div>
                <div class="additional-info">
                    <a ui-sref="app.signup">Register</a>
                    <span class="divider-h"></span>
                    <a ui-sref="app.forgot-password">Forgot your password?</a>
                </div>

            </div>
        </div>

    </div>

</div>
