<div class="row">
    <div class="col-md-6" ng-repeat="address in me.addresses">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{address.address}}</span>
                <p>{{address.city}}, {{address.country}}</p>
            </div>
            <div class="card-action">
                <a href="javascript:;"> <i class="zmdi zmdi-edit"></i> Αλλαγή</a>
                <a href="javascript:;"><i class="zmdi zmdi-delete"></i>  Διαγραφή</a>
            </div>
        </div>
    </div>
</div>
