
<div class="col-md-12" ng-controller="newAddressController">
    <section class="panel panel-default">
      <div class="modal-header">
          <h3>Προσθήκη νέας διεύθυνσης</h3>
      </div>
      <div class="modal-body">
          <div class="callout callout-info">
            <input id="address-input" type="text" class="form-control" placeholder="Διεύθυνση">
          </div>
      </div>
      <div class="modal-footer">
          <button ui-wave class="btn btn-flat btn-default" ng-click="cancel()">Cancel</button>
          <button ui-wave class="btn btn-flat btn-primary" ng-click="ok()">OK</button>
      </div>
   </section>
</div>
