<uib-alert type="warning" close="bCloseAlert=1" ng-hide="bCloseAlert">Πσσστ! Μπορείς να προσθέσεις κ εσύ κριτικές κλείνοντας online ραντεβού με τα μαστόρια!</uib-alert>

<section class="panel panel-default" infinite-scroll="loadMoreRatings()" infinite-scroll-disabled="busyRat || ratings.data.length === ratings.total" infinite-scroll-distance="1">
    <md-list layout-padding="">
        <md-list-item class="md-3-line" ng-repeat="rating in ratings.data">
            <img ng-src="images/g1.jpg" class="md-avatar" alt="{{ ::rating.user.name }}">
            <div class="md-list-item-text">
                <uib-rating class="ui-rating size-h4 ui-rating-alert" ng-model="rating.rating" max="5" data-readonly="true"></uib-rating>
                <h4>{{ ::rating.user.name }}</h4>
                <p>
                    {{ ::rating.body }}
                </p>
            </div>
        </md-list-item>
    </md-list>
</section>

<div ng-show="mastoria.total === 0">
    <span class="text-primary">Πίκρα! Καμία κριτική ως τώρα! Κλείσε ραντεβού για να γίνεις ο πρώτος!</span>
</div>

<div ng-show="busyRat">
    <md-progress-circular md-mode="indeterminate" class="md-primary md-hue-3 m-auto" md-diameter="96"></md-progress-circular>
</div>
